<!doctype html>
<html lang="ko" xmlns:th="http://www.leaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap}">

    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    
    <!-- Style -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/page.css}">

    <title>게시판</title>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container">
      <h2>전체 글 보기</h2>
      <div style="float: right"> 안녕하세요! &nbsp;
        <strong><span class="mb-5" sec:authentication="principal.username"></span></strong>(<span class="mb-5" th:text="${username}"></span>)님
        <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></span>
      </div>
      <div class="table-responsive">

        <!--<form action="" method="get">
          <div>
            <select id="keyword" name="keyword">
              <option value="bid">아이디</option>
              <option value="title">제목</option>
            </select>
            <input type="text" id="search" name="search">
            <button type="submit">검색</button>
          </div>
        </form>-->

        <table class="table custom-table">
          <thead>
            <tr>
              
              <th scope="col">번호</th>
              <th scope="col">제목</th>
              <th scope="col">작성자</th>
              <th scope="col">조회수</th>
              <th scope="col">게시일</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" th:each="list : ${boardList}">

              <td>
                <span th:text="${list.bnum}"></span>
              </td>
              <td>
                <a th:href="@{'/board/contentView-'+${list.bnum}}">
                  <span th:text="${list.title}"></span>
                </a>
              </td>
              <td>
                <span th:text="${list.bname}"></span>
              </td>
              <td>
                <span th:text="${list.hit}"></span>
              </td>
              <td>
                <span th:text="${list.date}"></span>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
      <nav>
        <ul class="pagelist" style="list-style: none;">
            <li th:classappend="${pageMarker.isPrev() == 0} ? 'disabled'">
              <a th:href="@{/board/list(pageMarker.makeQuery(pageMarker.getStartPage()-1))}">이전</a>
            </li>
            <li th:each="page: ${#numbers.sequence(pageMarker.getStartPage(), pageMarker.getEndPage())}">
              <a th:href="@{/board/list(pageMarker.makeQuery(page))}" th:text="${page}"></a>
            </li>
            <li th:classappend="${pageMarker.isNext() && pageMarker.getEndPage() > 0}">
              <a th:href="@{/board/list(pageMarker.makeQuery(pageMarker.getEndPage()+1))}">다음</a>
            </li>
        </ul>

      </nav>
      <div><button><a th:href="@{/board/writeView}">글작성</a></button></div>
    </div>

  </div>

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/mains.js}"></script>
  </body>
</html>